.header-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 0 20px;            
}

h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  color: #e65917;
  margin: 0; 
}

h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 20;
  font-style: normal;
  color: #dea8c9;
  margin: 0;
}
body {
     background-color:#FAF8F3;
}
   .buttons {
  text-align: center;
  margin-top: 50px;
}
button {
  background: none;
  border: 1px solid #DDBCD6;   /* subtle border */
  color: #DDBCD6;
  padding: 8px 16px;
  border-radius: 6px;          /* soft rounding */
  cursor: pointer;

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

  transition: all 0.25s ease;
}

button:hover {
  background-color: rgba(221, 188, 214, 0.15); /* soft fade fill */
  border-color: #e65917;                       /* slight color pop */
  color: #e65917;                              
}

img.banner {
  width: 100%;       
  height: auto;   
  display: block;
  margin: 0;
  border-radius: 0;
}