
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  width: 100%;
}

/* LEFT SIDE */
.left {
  background-color: #566129;
  color: #D1D0E3;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 80px 40px;
  text-align: center;
}
.button {
    position: absolute;
    top: 15px;
    left: 20px;
}

/* Button styling */
.button button {
    background: none;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #F5C6AA;
    cursor: pointer;
    transition: opacity 0.2s ease;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 600;
}

/* Hover effect */
.button button:hover {
    opacity: 0.4;
}

.left h1 {
  font-size: 5vw;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 10px;
}

.left .subtext {
  font-size: 1.1rem;
  background-color: #F5C6AA;
  color: #566129;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: 600;
  margin-top: 0;
}

/* RIGHT SIDE */
.right {
  background-color: #D1D0E3;
  color: #566129;
  flex: 1;
  padding: 60px;
  overflow-y: scroll;
  font-family: 'Merriweather', serif;
}
.reflection-text {
  max-width: 750px;
  margin: 80px auto;
  padding: 20px;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 0.8px;
  text-align: justify;
  color: #566129;
}

.reflection-text p {
  margin-bottom: 22px;
}

/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
.right::-webkit-scrollbar {
  width: 8px;
}
.right::-webkit-scrollbar-thumb {
  background-color: #566129;
  border-radius: 10px;
}

